<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="user-provider"/>
    <dubbo:registry address="multicast://224.5.6.7:1234"/>
    <dubbo:protocol name="dubbo" port="20880" dispatcher="all" threadpool="fixed" threads="2"/>
    <dubbo:service interface="com.wuhulala.dubbo.user.service.UserService" ref="demoService"/>
    <bean id="demoService" class="com.wuhulala.dubbo.user.service.impl.UserServiceImpl"/>
</beans>

<!--
256M 2核
direct 3 1759
direct 3 1703
all 100 1985
all 10 2500
all 5 2101

-->