<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="user-consumer"/>
    <dubbo:protocol name="dubbo" port="20880" />

    <dubbo:consumer filter="callexception"/>
    <dubbo:registry address="multicast://224.5.6.7:1234"/>
    <dubbo:reference connections="1" id="demoService" interface="com.wuhulala.dubbo.user.service.UserService" check="false" cluster="failfast"/>
</beans>